<%- model_class = Item -%>
<div class="page-header">
  <h1>Dashboard <%= image_tag('dashboard') %></h1>
</div>

<div id="exibe_dados">
<%= render "desk_orders" %>
</div>


<script>
  $(function() {
    setInterval(function(){
      $.getScript("/dashboard").fail(function(jqxhr, settings, exception) {

      });
    }, 10000);
  });
</script>
