<div class="jumbotron">
        <h1><%= image_tag('aviso.png') %> Ops ...</h1>
        <p>Você não pode excluir este cadastro, porque outros cadastros ainda dependem dele.</p>
        <p>Exemplo:</p>
        <h4>Temos um QRPoint cadastrado e esse QRPoint já foi utilizado no cadastro de uma venda,<br>
        então não podemos excluir o cadastro deste QRPoint, porque senão
        quando tentarmos consultar a venda, <br>não teremos mais as informações por completo.<br /></h4>
        <h3>Para maiores esclarecimentos entre em contato conosco através dos nossos canais de atendimento:<h3/>
        <p>Email: suporte@ddti.com.br</p>
        <p>Fone: (11)4308-1643</p>
        <p>Movel / WhatsApp: (11)97039-5230</p>
</div>
